.header {
  margin: 0 1.6rem;
  display: grid;

  @include respond(tablet) {
    margin: 0 4rem;
  }
  @include respond(desktop) {
    grid-template-columns: repeat(2, max-content);
    margin: 0 16.5rem;
    gap: 28.5rem;
  }

  .header__headline {
    &--text {
      margin-bottom: 3.2rem;
      font-weight: 400;
      font-size: 3.8rem;
      line-height: 4.4rem;
      letter-spacing: -0.527778px;

      @include respond(tablet) {
        font-size: 5.6rem;
        line-height: 6.4rem;
        letter-spacing: -0.777778px;
        max-width: 57.3rem;
        margin-bottom: 4rem;
      }

      @include respond(desktop) {
        font-size: 7.2rem;
        line-height: 7.8rem;
        letter-spacing: -0.777778px;
        max-width: 63.5rem;
      }

      & span {
        font-weight: 700;
      }
    }
    &--img {
      height: 1.9rem;
      position: absolute;
      top: -2.8rem;
      right: 1rem;

      @include respond(tablet) {
        height: 2.9rem;
        top: -4rem;
      }

      @include respond(desktop) {
        height: 3.6rem;
        top: -5.6rem;
      }
      &-container {
        position: relative;
      }
    }
  }

  &__cta {
    height: 6.1rem;
    width: 25.6rem;
    background: $color-blue-dark;
    margin-bottom: 5.6rem;
    display: grid;
    place-content: center;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: all 0.2s;

    @include respond(tablet) {
      margin-bottom: 12.8rem;
    }

    @include respond(desktop) {
      margin-bottom: 32rem;
    }

    &:hover {
      background: linear-gradient(
        135deg,
        $color-purple 0%,
        $color-magenta 49.21%,
        $color-orange 100%
      );
    }
    &--text {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 0.18px;
      color: $color-white;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.8rem;
    letter-spacing: 0.0888889px;
    color: $color-gray-dark;
    margin-bottom: 3.2rem;

    @include respond(tablet) {
      max-width: 35rem;
    }

    @include respond(desktop) {
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 0.1px;
      margin-bottom: 5.2rem;
    }
  }

  &__hero {
    margin-bottom: 5.6rem;
    grid-row: 2 / 3;

    @include respond(tablet) {
      display: none;
    }
  }

  &__stats {
    display: grid;
    justify-content: center;
    gap: 3.2rem;
    margin-bottom: 23.7rem;

    @include respond(tablet) {
      grid-template-columns: repeat(3, max-content);
      justify-content: space-around;
      margin-bottom: 27.3rem;
    }

    @include respond(desktop) {
      grid-template-columns: repeat(1, max-content);
    }

    &--item {
      text-align: center;

      @include respond(desktop) {
        text-align: left;
      }
      &-number {
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 5.6rem;
      }
      &-text {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.6rem;
        letter-spacing: 0.25rem;
        color: $color-gray-dark;
        text-transform: uppercase;
      }
    }
  }
}
