.testimonial {
  text-align: center;
  color: $color-white;
  position: relative;
  z-index: 1;

  &__avatar {
    background-image: url(../assets/pattern-blur.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: left 50% top 10rem;
    position: absolute;
    top: -17.5rem;
    left: 0;
    right: 0;

    @include respond(tablet) {
      background-size: 50%;
      background-position: left 50% top 8rem;
    }

    @include respond(desktop) {
      background-position: left 50% top 20rem;
      background-size: 25%;
      left: -50rem;
      top: -6.8rem;
    }
  }

  &__content {
    background-color: $color-blue-dark;
    border-radius: 1.5rem;
    padding: 26.1rem 1.6rem 6.4rem;

    @include respond(tablet) {
      padding-inline: 5.8rem;
      margin: 0 4rem;
    }

    @include respond(desktop) {
      padding: 8.8rem 12.5rem;
      margin: 0 16.5rem;
      display: grid;
      grid-template-columns: repeat(2, max-content);
      place-content: end;
      align-items: center;
      text-align: left;
      gap: 5.275rem;
    }

    &--curve {
      margin-bottom: 4rem;

      @include respond(desktop) {
        align-self: start;
        transform: translateY(7rem);
      }
    }

    &--container {
      @include respond(desktop) {
        max-width: 34rem;
      }
    }

    &--headline {
      font-size: 4rem;
      font-weight: 400;
      line-height: 4.8rem;
      letter-spacing: -0.416667px;
      margin-bottom: 4rem;
      & span {
        font-weight: 700;
      }
    }
    &--text {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: 0.09px;
      margin-bottom: 4rem;
    }
    &--name {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 3.2rem;
      letter-spacing: -0.18px;
    }
    &--position {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2.6rem;
      letter-spacing: 2.5px;
    }
  }
}
