.topbar {
  margin: 2.4rem 1.6rem 8.3rem;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;

  @include respond(tablet) {
    margin: 4rem 4rem 16.8rem;
  }
  @include respond(desktop) {
    margin: 5rem 16.5rem 17rem;
  }
  &__logo {
    &--img {
      height: 3.2rem;
    }
  }

  &__cta {
    height: 4.8rem;
    width: 18.2rem;
    border-radius: 0.6rem;
    border: 1px solid $color-blue-dark;
    display: grid;
    place-content: center;
    cursor: pointer;
    transition: all 0.2s;

    @include respond(tablet) {
      height: 5.6rem;
      width: 21.9rem;
    }

    &:hover {
      color: $color-white;
      background-color: $color-blue-dark;
    }
    &--text {
      font-weight: 700;
      font-size: 1.4rem;
      line-height: 2.4rem;

      @include respond(tablet) {
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: -0.16px;
      }
    }
  }
}
